.button {
    width: 236px;
    height: 52px;
    background: $main-color;
    border: 1px solid $main-color;
    border-radius: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px; 
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    }
    &_promo {
        padding: 20px;  
        margin: 0 auto;
        margin-left: 725px;
        margin-top: 110px;
    }
    &_macbook {
        margin-top: 60px;
        font-weight: 900;
        height: 60px;
        line-height: 38px;
    }
    &_partners {
        height: 60px;
        font-weight: 900;
        font-size: 20px;
        line-height: 28px;
        margin: 0 auto;
    }
    &_testimonials {
        width: 276px;
        height: 60px;
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
        padding: 16px 0px;
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 80px;

    }
    &_pricing {
        width: 255px;
        height: 56px;
        margin: 0 auto;
        margin-top: 30px;
        &_blue {
            background: #FFFFFF;
            color: $main-color;
            margin: 0 auto;
            margin-top: 30px;
            width: 255px;
            height: 56px;
            
            
        }
    }
    &_contacts {
        width: 145px;
        height: 56px;
        text-align: center;
        margin-top: 45px;
        margin-left: 50px;
        margin-bottom: 52px;
    }
    &_subscribe {
        margin: 34px 0px;
        width: 172px;
        height: 58px;
    }
}