.button {
    width: 236px;
    height: 52px;
    background: $main-color;
    border: 1px solid $main-color;
    border-radius: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px; 
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    }
    &_promo {
        padding: 20px;        
        margin: 80px 602px 378px 602px;
    }
    &_macbook {
        margin-top: 60px;
        font-weight: 900;
        height: 60px;
        line-height: 28px;
    }
    &_partners {
        height: 60px;
        font-weight: 900;
        font-size: 20px;
        line-height: 28px;
        margin: 80px 602px 0px 602px;
    }
    &_testimonials {
        width: 276px;
        height: 60px;
        font-weight: 900;
        font-size: 20px;
        line-height: 28px;
        margin: 80px 581.5px 100px 581.5px;
    }
    &_pricing {
        width: 255px;
        height: 56px;
        margin: 30px 40px 40px 40px;
        &_blue {
            background: #FFFFFF;
            color: $main-color;
            margin: 0;
        }
    }
    &_contacts {
        width: 145px;
        height: 56px;
        margin: 45px 258px 52px 0px;
    }
    &_subscribe {
        margin: 34px 0px;
        width: 172px;
        height: 58px;
    }
}