.macbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 924px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 0;
    .container {
        padding: 80px 82px 0px 82px;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 43px 0px;
        width: 1243.3px;
        height: 472px;
        margin: 0 auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 532px;
        height: 357px;
        left: 0px;
        top: 57.5px;
        margin: 0px 50px;
        h2 {
            font-weight: 400;
            font-size: 48px;
            line-height: 55px;
            letter-spacing: 0.2px;
            color: $second-color;
            margin-top: 0;
            margin-bottom: 0;
        }
        h4 {
            font-weight: 400;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.2px;
            color: #374754;
            margin: 0;
        }
    }
    &__screen {
        width: 661.3px;
        height: 386px;
        left: 582px;
        top: 43px;
        img {
            width: 646.07px;
            height: 370.77px;
            left: 7.61px;
            top: 7.61px;
        }
    }
}