.container{
    max-width: 1770px;
    padding: 0;
}
.macbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 924px;
    background: #FFFFFF;    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 43px 0px;
        width: 1243.3px;
        height: 472px;
        margin: 226px 82px;
        &_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 532px;
            height: 357px;
            top: 57.5px;
            left: 50px;
            h2 {
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                letter-spacing: 0.2px;
                color: $second-color;
                margin-bottom: 17px;
                margin-top: 0;
            }
            h4 {
                font-weight: 400;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.2px;
                color: #374754;
                margin-bottom: 60px;
            }
        }
        &_screen {
            display: block;
            width: 661.3px;
            height: 386px;
            top: 43px;
            right: 50px;
            // margin: 43px 0px 50px 43px;
            img {
                display: block;
                width: 646.07px;
                height: 370.77px;
                left: 7.61px;
                top: 11px;
            }
        }
    }
}