.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1042px;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    margin: 0 auto;
    .header {
        margin: 0 auto;        
        nav {            
            width: 100%;
            margin: 0 auto;
        }  
        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1210px;
            height: 156px;
            padding-top: 53.5px;
            margin: 0 auto;  
            list-style-type: none;
            &_link {
                padding-right: 21px;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                text-decoration: none;
                color: #ffff;
            }
            &_logo {
                display: inline;
                padding-left: 5.5 px;
                padding-right: 271px;
                width: 246px;
                height: 78px;
            }
            &_social {
                display: inline;
                width: 170.96px;
                height: 40.99px;
                right: 40px;
                a {
                    width: 40.99px;
                    height: 40.99px;
                    margin-right: 24px;
                }
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0px;
        width: 1440px;
        height: 885px;
        margin: 0px 168.5px 160px 167.27px;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 826px;
            height: 335px;
            left: 307px;
            top: 80px;
            margin: 0 auto;
            h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 74px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
            }
            h4 {
                margin: 0px 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
            }
        }
    }
}