.promo{
    height: 1042px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./assets/img/main_bg.jpg') center center/cover no-repeat;
    padding-bottom: 80px;
    header {
        display: flex;
        flex-direction: row;
        width: 1210px;
        height: 156px;
        margin: 4px 283.5px 0px 282.5px;
        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 437px;
            height: 48px;
            margin: 53.5px 5.5px 54.5px 40px;
        }      
        ul {    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            list-style-type: none;
            padding: 10px;            
            li { 
                margin-right: 10px;
                padding-right: 10px;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                text-decoration: none;
                    color: #ffff;  
                    &:last-child {
                        margin-right: none;
                    }
                }                           
            }
        }
        .header__logo {
            display: inline;
            width: 246px;
            height: 78px;
            margin: 39px 270.54px 39px 0px;
        }
        .header__social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 170.96px;
            height: 40.99px;
            margin: 56.51px 40px 58.51px 0px;
            a {
                width: 40.99px;
                height: 40.99px;
                margin-right: 24px;
            }
        }
        .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1440px;
        height: 885px;
        margin: 0px 168.5px 0px 167.27px;
        padding: 80px 0px 0px 0px;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 826px;
            height: 335px;
            margin: 0px 307px 80px 307px;
            h1{
                font-weight: 900;
                font-size: 74px;
                line-height: 84px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
            }
            h4 {
                margin: 0px 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
                span {
                    margin-bottom: 30px;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #FFFFFF; 
                }
            }
        }
        .hamburger {
            display: none;
        }    
    }
}