.container{
    width: 1440px;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    order: 3;
    &__wrapper{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        align-self:flex-start;
        width: 1548.23px;
        height: 638px;
        padding: 0px 0px 43px 0px;
        margin: 0 auto;
        &_picture {
            align-self: flex-end;
            width: 684.23px;
            height: 532px;
            margin: 0 auto; 
            margin-right: 50px;
            margin-left: 50px;        
            flex-grow: 0;
            order: 0;
            img{
                margin: 0 auto;                  
            }
        }
        &_content {
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-self:flex-start;
            width: 544px;
            height: 500px;  
            order: 0;
            &_text{
                width: 100%;
                padding: 0px;                
                align-self:flex-start;
                flex-grow: 0;
                order: 0;
                margin: 0 auto;
                margin-left: 0;
                h2{
                    width: 100%;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 55px;
                    text-align: start;
                    letter-spacing: 0.2px;
                    color: $second-color;
                    order:0;
                }
                .desktop{
                    width: 100%;
                    margin: 7px 0px 25px 0px;
                    order:0;
                }
                .mobile{                        
                    display: none;
                    order:0;
                }
                h3 {
                    width: 100%;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: $second-color;
                    margin-top: 121px;
                    order:0;
                }             
                h4 {
                    display: none;
                    order:0;
                } 
            }            
            &_form {
                order: 0;
                width: 477px;
                height: 199px;
                margin: 15px 0px 0px 0px;
                order:0;
                margin: 0 auto;
                margin-left: 0px;
                h3 {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 28px;     
                    letter-spacing: 0.1px;
                    color: $second-color;
                    margin: 10px 0px 0px 10px;
                    order:0;
                }
                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.2px;
                    color: $third-color;
                    margin: 10px 0px 0px 10px;
                    order:0;
                }
                div {
                    order: 0;   
                    display: flex;
                    flex-direction: row; 
                    justify-content: space-between;
                    align-items: center;            
                    width: 457px;
                    height: 126px;
                    left: 1017.23px;
                    margin: 0px 10px 10px 0px;
                    form {
                        display: flex;
                        flex-direction: row; 
                        align-items: center;  
                        width: 457px;
                        height: 126px; 
                        margin: 0px 10px 10px 10px;
                    }
                    input {
                        display: block;
                        width: 273px;
                        height: 54px;
                        top: 36px;
                        left: 1007.23px;
                        background: #F4F4F4;
                        border: 1px solid #E8E8E8;
                        box-sizing: border-box;
                        border-radius: 39px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.1px;
                        color: #18171D;
                        margin: 36px 12px 36px 0px;
                        padding-left: 12px;
                    }
                }            
            }     
        }
    }
}
