.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 762.3px;
    margin: 0 auto;
    background: #FFFFFF;
    margin: 0;
    &__wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1058.19px;  
        padding: 52px 0px;
        margin: 0px 359.4px;        
        video {
            position: relative;
            height: 658.3px;               
            poster {
                width: 100%; 
                filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.397));
                 border-radius: 44.8123px;
            } 
        }
        .playpause {
            position:absolute;
            display: block; 
        }
        span {
            display: none;
        }                 
    }
}   