@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .macbook {
        padding: 0;
        &__wrapper {
            width: 100%;
            margin: 0;
            margin-right: 0;
            &_content {
                width: 100%;
                margin: 0;
                margin-bottom: 80px;
                .header {
                    font-size: 37px;
                    line-height: 45px;
                    text-align: center;
                    margin-bottom: 17px;
                    margin-right: 50px;
                }
                .subheader {
                    text-align: center;
                    margin-bottom: 50px;
                    margin-right: 50px;
                    span {
                        display: none;
                    }
                }
                button.button_macbook {
                    margin: 0 auto;
                    margin-top: 0;
                    margin-left:0;
                    margin-right: 0;
                    top: 0px;
                }
            }
            &_screen {
                width: 100%;
                margin-right: 50px;
                bottom: 50px;
                img {
                width: 378.95px;
                height: 211.89px;
                left: -3.48px;
                top: 6.56px;
                }
            }
        } 
    }
}