@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .partners {
        margin: 0;
        &__text {
            width: 100%;
            margin: 0 auto;
            margin-right: 0;
            margin-bottom: 80px;
            .header {
                font-size: 44px;
                line-height: 53px;
                margin: 0 auto;
            }
            .subheader{
                width: 100%;
                font-size: 17px;
                line-height: 24px;
                margin: 0 auto;
                margin-bottom: 0px;
            }
        }
        &__items {  
            padding: 0; 
            margin: 0 auto;           
        }
        &__button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 236px;
            height: 190px;
            padding: 0px;
            button.button_partners{
                height: 60px;
                width: 236px;
                font-weight: 900;
                // margin: 80px 71px 50px 71px;
                margin: 0 auto;
            }
        }
    } 
}