@media (max-width: 576px){
    .container {
        min-width: 100%;
    }
    .promo {    
        position: relative; 
        max-height: 663px;
        background: url('./assets/img/mobile/bg_mobile.jpg') center center/cover no-repeat;
        background-size: 100% 100%;
        header {
            min-width: 100%;
            height: 45px;
            margin: 0 auto;
            nav {             
                display: block;
                flex-direction: column;
                align-items: center;
                width: 40%;
                height: 100vh;
                margin: 0 auto;
            }      
            .header__menu_link {
                position: fixed;    
                flex-direction: column;
                justify-content: center;
                align-items: center;
                left: 0;
                margin-top: 0;
                height: 100vh;                
                right: 0px;
                top: 0px;
                bottom: 0px;
                width: 0;
                padding: 0;
                margin-bottom: 0px;
                background-color: rgba(0, 0, 0, 0.8);
                transition: 0.6s all;
                z-index: 3;
                overflow: hidden;
                li {
                    margin: 0 auto;  
                    margin-bottom: 50px;  
                    padding: 0;
                    &:last-child {
                        margin-left: 0;
                    }    
                    a {
                        font-weight: 400;
                        font-size: 28px;  
                        line-height: 30px;  
                    }                        
                }
                &.menu_active { 
                    width: 246px;
                    overflow: hidden;
                }
            }
            
            .header__menu_link__close {
                position: absolute;
                top: 25px;
                right: 25px;
                cursor: pointer;
            }      
            .hamburger {
                left: 85%;
            } 
            .header__logo {
                left: 10%;
            }
            .header__social {
                display: none;
            }
        }
        &__wrapper {
            min-width: 100%;
            margin: 80px 0px;
            padding: 0;
            &__text{
                min-width: 85%;
                padding: 0;
                margin-bottom: 80px;
                margin-right: 73px;
                &_header{
                    font-weight: 400;
                    font-size: 45px;
                    line-height: 67px;
                    margin-bottom: 17px;
                    margin-right: 35px;
                }
                &_subheader{
                    margin-right: 35px;
                }
            }  
        }
        .button_promo{
            right: 50%;
            transform: translateX(-19%);                
        } 
    }
}