@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .testimonials {
        padding: 0;
        margin-top: 80px;
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 301px;
            height: 75px;
            margin: 0 auto;
            margin-bottom: 50px;
            .header{
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                text-align: center;
                letter-spacing: 0.2px;
                color: $second-color;
                margin: 0 auto;
            }
        }
        &__row {
            margin: 0;
            &_logo {
                position: absolute;
                width: 126.68px;
                height: 50.72px;
                left: 85.11px;
                top: 0px;
                margin: 0 auto;
                margin-bottom: 50px;
            }
            &_text{
                margin: 0 auto;
                margin-bottom: 0;
                h4 {                    
                    font-weight: 800;
                    font-size: 18.5px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 1.16907px;
                    width: 60%;
                    margin: 0 auto;
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
            &_client {
                margin: 0 auto;
                margin-top: 0;
                &_avatar {
                    width: 42.27px;
                    height: 42.27px;
                    left: 0px;
                    top: 0.06px;
                    margin: 0px 13px;
                    img{
                        src: url ('./assets/img/mobile/avatar_mobile.jpg');
                    }
                }
                &_text {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    min-width: 100%;
                    min-height: 42.38px;
                    margin-top: 20px;
                    h6 {
                        min-width: 100%;
                        font-weight: 700;
                        font-size: 10.1442px;
                        line-height: 15px;
                        letter-spacing: 0.0845349px;
                        color: $third-color;
                        padding: 2px 0px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 10.1442px;
                        line-height: 15px;
                        letter-spacing: 0.0845349px;
                        color: $second-color;
                        margin: 0px 10px;
                    }
                }
            }
        }
        .testimonials__button{
           margin: 0 auto;
           margin-bottom: 0;
           margin-top: 0;            
        }
    }
}