@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .contacts {
        min-height: 1568.99px;
        margin-bottom: 0;
        margin-top: 0px;
        padding-top: 0px;
        &__content{
            width: 358px;
            height: 1369.99px;
            margin: 0 auto;
            margin-bottom: 99px;
            padding-top: 50px;
            &__text {
                width: 285px;
                height: 182px;
                padding: 10px;
                margin: 0 auto;
                margin-bottom: 50px;
                h2{
                    margin-bottom: 17px;
                }                
                h4 {
                    margin: 10px;
                }
                span{
                    display: none;
                }
            }
            &__wrapper {
            
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 358px;
                height: 669px;
                margin: 0 auto;
                margin-top: 50px;
                order: 5;
                &_left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 378px;
                    height: 669px;
                    margin: 0 auto;
                    margin-bottom: 0;
                    margin-top: 50px;
                    padding: 52px 49px;
                    order: 3;
                    h3 {
                        margin: 0 auto;
                    }
                    input {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 353px;
                        height: 54px;                        
                        margin: 0px 50px 45px 50px;
                        padding-left: 20px;
                        background: #F5F5F5;
                        border: 1px solid #E8E8E8;
                        box-sizing: border-box;
                        border-radius: 39px;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 16px;
                        letter-spacing: 0.1px;
                        color: #18171D;
                        textarea {
                            padding: 23px 20px;
                            width: 353px;
                            height: 193px;
                            left: 50px;
                            top: 323px;
                            background: #F5F5F5;
                            border: 1px solid #E8E8E8;
                            box-sizing: border-box;
                            flex: none;
                            order: 3;
                            align-self: stretch;
                            flex-grow: 0;
                            margin-left: 50px;
                            margin-bottom: 45px;
                        }
                    }
                }
                &_right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 349px;
                    height: 100%;
                    margin: 0 auto;
                    order: 0;
                    &_items {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        width: 349px;
                        height: 208px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        order: 2;
                        .adress {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                                text-align: start;
    
                            }
                        }
                        .phone {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                            }
                        }
                        .mail {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                            }
                        }
                    }
                    &_map {
                        display: none;
                    }
                    &_social {
                        width: 190.96px;
                        height: 60.99px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        order: 1;
                        margin-left: 30px;
                    }
                }
            }
            
        }
        
    } 
}
 