@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .contacts {
        margin-bottom: 0;
        margin-top: 0px;
        padding-top: 0px;
        &__content{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            margin-bottom: 99px;
            padding-top: 50px;
            &__text {
                width: 285px;
                height: 182px;
                padding: 10px;
                margin: 0 auto;
                margin-bottom: 50px;
                h2{
                    margin-bottom: 17px;
                }                
                h4 {
                    margin: 10px;
                }
                span{
                    display: none;
                }
            }
            &__wrapper {            
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                margin-top: 50px;
                order: 5;
                &_left {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    margin-bottom: 0;
                    padding: 0 49px;
                    order: 4;
                }
                &_right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    order: 0;
                    &_items {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        width: 349px;
                        height: 208px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        order: 2;
                        .adress {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                                text-align: start;
    
                            }
                        }
                        .phone {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                            }
                        }
                        .mail {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                            }
                        }
                    }
                    &_map {
                        display: none;
                        order: 1;
                    }
                    &_social {
                        width: 190.96px;
                        height: 60.99px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        order: 1;
                    }
                }
            }
            
        }
        
    } 
}
 