@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .macbook {
        min-height: 800px;
        margin: 0 auto;
        margin-bottom: 0;
        padding: 30px 20px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0px;
            width: 378px;
            height: 740px;
            margin: 0 auto;
            &_content {
                align-items: center;
                padding: 0px;
                width: 355px;
                height: 237px;
                margin: 0 auto;
                .header {
                    text-align: center;
                    margin-bottom: 17px;
                }
                .subheader {
                    text-align: center;
                    margin-bottom: 69px;
                    span {
                        display: none;
                    }
                }
                button.button_macbook {
                    margin: 59px 0;
                    top: 0px;
                    left: 71px;
                }
            }
            &_screen {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 372px;
                height: 225px;
                left: 0px;
                top: 0px;
                bottom: 50px;
                // margin-bottom: 50px;
                img {
                width: 378.95px;
                height: 211.89px;
                left: -3.48px;
                top: 6.56px;
                // margin: 6.56px 3.48px;
                }
            }
        } 
    }
}
