@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 787.05px;
        margin: 0 auto;
        padding: 0px 28px;
        margin-bottom: 0px;
        &__h2{
            width: 301px;
            height: 75px;
            top: 100px;
            margin: 0 auto;
            margin-bottom: 0;
        }
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            left: 0px;
            top: 0px;
            margin: 0 auto;
            margin-bottom: 80px;
            &_logo {
                width: 149.85px;
                height: 60px;
                margin: 0 auto;
                margin-bottom: 50px;     
                img{
                    margin: 0 auto;
                }
            }
            &_text{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 100%;
                height: 182px;
                top: 100px;
                margin: 0 auto;
                margin-bottom: 80px;
                h4 {                    
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.16907px 
                }
            }
            &_client {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                width: 128.26px;
                height: 42.38px;
                padding: 0px;
                margin: 0 auto;
                margin-bottom: 80px;
                &_avatar {
                    width: 42.27px;
                    height: 42.27px;
                    margin: 0px 13px;
                    img{
                        src: url ('../assets/img/mobile/avatar_mobile.jpg');
                    }
                }
                &_text {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    width: 100%;
                    min-height: 42.38px;
                    margin-top: 20px;
                    h6 {
                        width: 100%;
                        font-weight: 700;
                        font-size: 10.1442px;
                        line-height: 15px;
                        letter-spacing: 0.0845349px;
                        color: $third-color;
                        padding: 2px 0px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 10.1442px;
                        line-height: 15px;
                        letter-spacing: 0.0845349px;
                        color: $second-color;
                        margin: 0px 10px;
                    }
                }
            }
        }
        .testimonials__button {
            margin: 0 auto;
            margin-top: 140px;          
        }
    }
}
