@media (max-width:1200px){
    .container{
        max-width: 960px;
    }
    .macbook { 
        display: flex;
        padding: 0;  
        margin-bottom: 0;  
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%; 
            margin: 0 auto;         
            &_content {
                margin: 0 auto;
                .subheader {
                   text-align: center;
                }
            }
            &_screen{
                margin: 0 auto;
                margin-bottom: 80px;
            }
            .button_macbook{
                margin: 0 auto;
                margin-bottom: 50px;
            }
        }
    }
}