@media (max-width:1200px){
    .container{
        width: 1199px;
    }
    .promo{
        header {
            width: 100%;

            nav {
                margin-left: 40px;
                margin-top: 50px;
            }      
            ul {    
                padding: 0px;            
                li {
                    font-size: 17px;
                    line-height: 32px;                          
                }
            }
            .header__logo {
                margin-right: 0px;
            }
            .header__social {
                margin-right: 40px;
                a {

                    margin-right: 20px;
                }
            }
            .hamburger {
                display: none;
            } 
        }
        &__wrapper {
            &__text {
                margin-left: 185px;
            }
        } 
        .subheader{               
            font-size: 31px;
            line-height: 51px;  
        }  
        .button_promo{
            margin: 0 auto;
            margin-left: 484px;
            margin-top: 109px;
        }
    }
}