@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .features {
        &__wrapper {
            width: 991px;            
            &__video {
                width: 100%;  
            }
        }
    }    
}