@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .partners {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        margin-top: 300px;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 80px;
            .header {
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                text-align: center;
                letter-spacing: 0.2px;  
                color: $second-color;
                margin: 0 auto;
            }
            .subheader{
                font-size: 29px;
                line-height: 45px; 
                padding: 0px;
                margin: 0 auto;
            }
        }
        &__items {
            margin: 0 auto;
            &__row {
                margin: 0 auto;
                width: 100%;
                &_item {
                    margin: 0 auto;
                    padding: 0;
                    img {
                        margin: 0 auto;
                    }
                }
            }
            &__row {
                &_2{
                    margin: 0 auto;
                    width: 100%;
                    &_item {
                        margin: 0 auto;
                        padding: 0;
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }   
        }
        .button_partners {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 987px;
            height: 240px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 0px;
        }
    }
}