@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 810px;
        margin: 0 auto;
        margin-top: 150px;
        background: #FFFFFF;
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 301px;
            height: 75px;
            margin: 0 auto;
            margin-bottom: 80px;
            .header{
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                text-align: center;
                letter-spacing: 0.2px;
                color: $second-color;
                margin: 0 auto;
            }
        }
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 315px;
            margin: 0 auto;
            padding: 0px;
            &_logo {
                width: 149.85px;
                height: 60px;
                margin: 0 auto;
                margin-bottom: 50px;     
                img{
                    margin: 0 auto;
                }
            }
            &_text{
                h4 {
                    margin-right: 36px;
                    font-size: 27px;
                    line-height: 40px;
                }
            }
          
            &_client {
                margin-top: 80px;
                &_avatar {
                    width: 50px;
                    height: 50px;
                    margin: 0px 13px;
                }
                &_text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 123px;
                    height: 55px;
                    h6 {
                        width: 100%;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 23px;
                        letter-spacing: 0.1px;
                        color: $third-color;
                        padding: 2px 0px;
                        margin: 0px 10px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        color: $second-color;
                        margin: 0px 10px;
                    }
                }
            }
        }
        .button_testimonials {
            margin: 0 auto;
            margin-top: 80px;
        }
    }
}