@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .container {       
        min-width: 540px;
        margin: 0 auto;        
    }
    .promo {    
        position: relative;    
        min-height: 863px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        min-height: 863px;
        background: url('./assets/img/mobile/bg_mobile.jpg') center center/cover no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        margin-bottom: 80px;
        top: 0;
        header {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items:center;
            width: 100%;
            height: 112px;
            margin: 0 auto;
            nav {             
                display: block;
                flex-direction: column;
                align-items: center;
                width: 50%;
                height: 100vh;
                margin: 0 auto;
            }      
            .header__menu_link {
                position: fixed;    
		        flex-direction: column;
                justify-content: center;
                align-items: center;
                left: 0;
                margin-top: 0;
                height: 100vh;                
                right: 0px;
                top: 0px;
                bottom: 0px;
                width: 270px;
                padding: 0;
                margin-bottom: 0px;
                background-color: rgba(0, 0, 0, 0.8);
                transition: 0.6s all;
                z-index: 3;
                li {
                    margin: 0 auto;  
                    margin-bottom: 50px;  
                    padding: 0;
                    &:last-child {
                        margin-left: 0;
                    }    
                    a {
                        font-weight: 400;
                        font-size: 28px;  
                        line-height: 30px;  
                    }                        
                }
            }
            .header__menu_link menu_active { 
			    left: 0;
                visibility: visible;
            }
            .header__menu_link__close {
                position: absolute;
                top: 25px;
                right: 25px;
                cursor: pointer;
            }      
            .hamburger {
                display: block;
                position: absolute;                
                top: 40px;
                left: 460px;
                width: 40px;
                height: 32px;
                padding: 8px 6px 8px 6.67px;
                cursor: pointer;
                border: 1px solid #000000;
                box-sizing: border-box;
                &__span {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 26.67px;
                    height: 16px;
                    transition: 0.5s all; 
                }               
                span.long {
                    background-color: #FFFFFF;
                    width: 26.67px;
                    height: 2px;
                    margin-bottom: 4px;
                }
                span.middle{
                    background-color: #FFFFFF;
                    width: 20.67px;
                    height: 2px;
                    margin-bottom: 4px;
                }
                span.short{
                    background-color: #FFFFFF;
                    width: 16.67px;
                    height: 2px;
                }
                &_active {
                    height: 40px;
                    border: none;
                    span{
                        margin-bottom: -2px;
                    }
                    span.long{
                        width: 40px;
                        transform: translateY(3px) rotate(-45deg);
                    }
                    span.middle {
                        display:none;
                    }
                    span.short{
                        width: 40px;
                        transform: translateY(-12px) rotate(45deg);
                    }
                }
                // &_active { 
                //     .hamburger__span{ 
                //         margin-bottom: -2px; 
                //         &:nth-child(1){
                //             transform: translateY(3px) rotate(-45deg);
                //         }
                //          &:nth-child(2){
                //             display: none;
                //         }
                //         &:nth-child(3){
                //             width: 26.67px;
                //             transform: translateY(3px) rotate(45deg);
                //         }
                //     }
                // }
            } 
            .header__logo {
                position: absolute;
                display: block;
                width: 206px;
                height: 78px;
                left: 26px;
                top: 27px;
                margin: 0 auto;
            }
            .header__social {
                display: none;
            }
        }
        &__wrapper {
            position: absolute;
            width: 378px;
            height: 750px;
            padding: 50px 0px;
            margin: 0 auto;
            right: 0;
            left: 0;
        }
        &__text{
            position: absolute;
            width: 353px;
            height: 292px;
            margin: 0 auto;
            padding: 0px 12.5px;
        }
        &__header{
            font-weight: 400;
            font-size: 48px;
            line-height: 70px;
        }
        &__subheader{
            margin: 27px 44px 10px 44px;
            font-size: 28px;
            line-height: 40px;
            span {
                display: none;
            }
        }  
        .button_promo{
            position: absolute;
            display: block;
            width: 236px;
            height: 52px;
            bottom: 267px;
            margin: 0 auto;
            padding: 0;        
        } 
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 1595.12px;
        margin: 0 auto;
        margin-bottom: 0;
        padding: 80px 0px;
        &__wrapper{
            display: flex;
            flex-direction: column;   
            align-items: center;
            width: 418px;
            height: 1435.12px;
            margin: 0 auto;
            top: 944px;
            &__text {
                display: block;
                width: 285px;
                height: 182px;
                margin: 0px 66.5px 50px 66.5px;
                order: 0;
                flex-grow: 0;
               
                h2 {
                    padding-bottom: 17px;
                    margin: 0 auto;
                }
                h4 {
                    margin-bottom: 0;
                    span {
                        display: none;
                    }
                }
            }
            &__items{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 255px;
                height: 924px;
                margin: 0px 81.5px 80px 51.5px;
                padding: 18px 0px;
                order: 2;
                flex-grow: 0;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 255px;
                    margin: 0px 0px 75px 0px;
                    .icon {
                        width: 61px;
                        height: 61px;
                        left: 97px;
                        top: 0px;
                        margin: 0 auto;
                    }
                    .subtitle {
                        margin-top: 10px;        
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 28px;
                        text-align: center;
                        letter-spacing: 0.1px;
                        color: $second-color;
                    }
                    .descr {
                        margin-top: 10px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: $third-color;
                    }
                }
            }
            &__video{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                order: 1;
                flex-grow: 0;
                width: 385.89px;
                height: 229.12px;
                left: 16.05px;
                top: 56.68px;
                background: #FFFFFF;
                &_video {
                    display: none;
                } 
                &_mobile{
                    position: relative;
                    width: 385.89px;
                    height: 215.77px;
                    left: 0px;
                    top: 6.68px;
                    border-radius: 40px;
                }    
                &_playpause {
                    position:absolute;
                    display: block; 
                    width: 61.42px;
                    height: 61.42px;
                    left: calc(50% - 61.42px/2 + 0.06px);
                    top: calc(50% - 61.42px/2 + 0.12px);
                    img {
                        width: 15.36px;
                        height: 15.36px;
                        left: calc(50% - 15.36px/2 + 1.73px);
                        top: calc(50% - 15.36px/2 + 0.45px);
                    }          
                }           
            }
        }
    }
    .macbook {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 800px;
        margin: 0 auto;
        padding: 30px 20px;
        bottom: 0;
        left: 0px;
        top: 2459.12px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0px;
            width: 378px;
            height: 740px;
            margin: 0 auto;
            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 355px;
                height: 237px;
                left: 11px;
                top: 50px;
                // margin: 0px 11.5px 59px 11.5px;
                h2 {
                    text-align: center;
                    margin-bottom: 17px;
                }
                h4 {
                    text-align: center;
                    margin-bottom: 69px;
                    span {
                        display: none;
                    }
                }
                button.button_macbook {
                    // margin: 59px 71px;
                    top: 0px;
                    left: 71px;
                }
            }
            &_screen {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 372px;
                height: 225px;
                left: 0px;
                top: 0px;
                bottom: 50px;
                // margin-bottom: 50px;
                img {
                width: 378.95px;
                height: 211.89px;
                left: -3.48px;
                top: 6.56px;
                // margin: 6.56px 3.48px;
                }
            }
        } 
    }
    .subscribe {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 1104.49px;
        margin: 0 auto;
        padding: 80px 0px;
        margin-bottom: 0;
        &__wrapper{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 418px;
            height: 943.49px;
            padding: 0px;
            margin: 0;
            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 552px;
                max-height: 217px;
                left: 0px;
                top: 0;
                bottom: 0;
                order: 1;
                flex-grow: 0;
                margin: 0 auto;
                margin-top: 0;
                h3 {
                    text-align: center;
                    margin-bottom: 27px;
                    margin: 0 auto;
                }
                h2{
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 55px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: $second-color;
                    margin: 0 auto;
                }
                .desktop{
                    display: none;
                }
                .mobile{                        
                    margin-bottom: 7px;
                    margin: 0 auto;
                }
                h4{
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 40px;
                    text-align: center;
                    color: #374754;
                    width: 552px;
                    height: 100px;
                    margin: 0 auto;
                    margin-bottom: 0;
                }
            }
            &_picture {
                display: block;
                position: absolute;
                width: 371px;
                height: 347.49px;
                padding: 20px;         
                order: 1;
                flex-grow: 0;
                margin: 0 auto;
                margin-top: 59px;
                img {
                    display: block;
                    width: 100%;
                    height: 347.49px;
                    left: 23.5px;
                    top: 0px;
                    margin: 0 auto;
                }
            }
            &_form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 373px;
                height: 261px;
                left: 22.5px;
                top: 762.49px;
                margin: 0 auto;
                margin-bottom: 0;
                h3 {
                    margin: 0 auto;
                }
                p {
                    margin: 0 auto;
                }
                div {   
                    display: flex;
                    flex-direction: column; 
                    align-items: center;           
                    width: 353px;
                    height: 168px;
                    left: 10px;
                    top: 83px;
                    margin: 0 auto;
                    form {
                        display: flex;
                        flex-direction: column; 
                        align-items: center;  
                        width: 353px;
                        height: 168px;
                    }
                    input {
                        width: 353px;
                        height: 54px;
                        left: 0px;
                        top: 24px;
                        padding: 19px 255px 19px 35px;
                        margin: 24px 0px 12px 0px;
                    }
                    button.button_subscribe {
                        display: block;
                        width: 353px;
                        height: 54px;
                        left: 0px;
                        margin: 0px 0px 24px 0px;
                    }
                }     
            }
        }
    }
    .partners {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        min-height: 1060.14px;
        margin: 0 auto;
        margin-top: 0;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            width: 418px;
            height: 182px;
            top: 4413.61px;
            margin: 0 auto;
            margin-bottom: 80px;
            h2 {
                margin: 0 auto;
            }
            h4 {
                margin-top: 17px;
                margin-bottom: 10px;
            }
        }
        &__items {
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            width: 275px;
            height: 558.14px;
            margin: 0 auto;            
            &__row {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-content: center;            
                align-items: center;
                padding: 18px;
                width: 100%;
                height: 100%;
                top: 0px;
                margin: 0 auto;
                :nth-child(2){
                    order:3;
                }
                :nth-last-child(3){
                    display: none;
                }      
                &_item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    padding-left: 40px;
                    padding-right: 40px;
                    width: 273px;
                    height: 151px;
                    left: 1px;
                    top: 18px;
                    margin-bottom: 30px;
                    h6{
                        margin-bottom: 15px;
                    }
                    img {
                        display: inline-block;
                        position: absolute;
                        text-align: center;
                        margin: 0 auto;
                        bottom: 25px;
                    }
                }
            }
            &__row_2 {
                display: none;
            }
        }
        &__button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 236px;
            height: 190px;
            padding: 0px;
            button.button_partners{
                height: 60px;
                width: 236px;
                font-weight: 900;
                // margin: 80px 71px 50px 71px;
                margin: 0 auto;
            }
        }
    }
    .testimonials {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 787.05px;
        margin: 0 auto;
        padding: 0px 28px;
        margin-bottom: 80px;
        &__h2{
            width: 301px;
            height: 75px;
            top: 100px;
            margin: 0 auto;
            margin-bottom: 0;
        }
        &__row {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 275.48px;
            height: 250.56px;
            left: 0px;
            top: 0px;
            margin: 0 auto;
            margin-bottom: 80px;
            &_logo {
                position: absolute;
                width: 126.68px;
                height: 50.72px;
                left: 85.11px;
                top: 0px;
                margin: 0 auto;
                margin-bottom: 80px;
            }
            &_text{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 418px;
                height: 182px;
                top: 100px;
                margin: 0 auto;
                margin-bottom: 80px;
                h4 {                    
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.16907px 
                }
            }
            &_client {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                width: 128.26px;
                height: 42.38px;
                left: 84.32px;
                top: 208.23px;
                padding: 0px;
                margin: 0 auto;
                &_avatar {
                    width: 42.27px;
                    height: 42.27px;
                    left: 0px;
                    top: 0.06px;
                    margin: 0px 13px;
                    img{
                        src: url ('../assets/img/mobile/avatar_mobile.jpg');
                    }
                }
                &_text {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    min-width: 100%;
                    min-height: 42.38px;
                    margin-top: 20px;
                    h6 {
                        min-width: 100%;
                        font-weight: 700;
                        font-size: 10.1442px;
                        line-height: 15px;
                        letter-spacing: 0.0845349px;
                        color: $third-color;
                        padding: 2px 0px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 10.1442px;
                        line-height: 15px;
                        letter-spacing: 0.0845349px;
                        color: $second-color;
                        margin: 0px 10px;
                    }
                }
            }
        }
        &__button {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 987px;
            height: 240px;
            padding: 0px;
            bottom: 240px;
            top: 616.05px;
            margin: 80px 41.5px 100px 41.5px;
            left: 41.5px;
            // top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }
    .pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 28px;
        min-height: 2430px;
        margin: 0 auto;
        margin-top: 80px;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            width: 285px;
            height: 182px;
            margin: 0 auto;
            margin-bottom: 80px;
            margin-top: 100px;
            h2 {
                margin: 0px 53.5px 7px 53.5px;
            }
            h4 {
                margin: 10px;
                span{
                    display: none;
                }
            }
        }
        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            width: 335px;
            height: 1957px;
            padding-bottom: 18px;
            margin: 0 auto;
        } 
        &__white {    
            width: 100%;
            height: 607px;
            left: 0px;
            top: 0px;
            margin: 18px 13.5px 50px 13.5px;
            &_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 148px;
                height: 80px;
                margin: 0px 93.5px 30px 93.5px;
                h3 {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: $second-color;
                    margin: 0px 10px;
                }
                h6 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: #374754;
                    margin: 0px 0px;
                }
            }
            &_price {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                width: 153px;
                height: 61px;
                margin: 0px 91px 0px 91px;
                .title {
                    width: 75px;
                    height: 104px;
                    margin: 0px 0px;
                }
                h1 {
                    width: 100%;
                    padding: 0px 10px;
                    font-weight: 900;
                    font-size: 74px;
                    line-height: 63px;
                    letter-spacing: 0.2px;
                    color: $second-color;
                    margin: 0px 10px;
                }
                .block {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 78px;
                    height: 51px;
                    margin: 0px 0px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: $second-color;
                    margin: 0px 10px;
                }
                h6 {
                    width: 100%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 0.1px;
                    color: $third-color;
                    margin: 0px 10px;
                }
            }
            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 255px;
                height: 240px;
                margin: 30px 0px 30px 0px;
                list-style-type: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 48px;
                letter-spacing: 0.2px;
                color: $second-color;
                margin: 0px 10px;
            }
        }
        &__blue {
            padding: 83px 40px;
            width: 100%;
            height: 607px;
            height: 693px;
            bottom: 0px;
            margin: 0px 13.5px 50px 13.5px;
            &_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 148px;
                height: 80px;
                margin: 0px 93.5px 30px 93.5px;
                h3 {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: #FFFFFF;
                    margin: 0px 10px;
                }
                h6 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: #FFFFFF;
                    margin: 0px 0px;
                }
            }
            &_price {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                width: 186px;
                height: 61px;
                margin: 0px 74.5px 30px 74.5px;
                .title {
                    width: 108px;
                    height: 104px;
                    margin: 0px 0px;
                }
                h1 {
                    width: 100%;
                    padding: 0px 10px;
                    font-weight: 900;
                    font-size: 74px;
                    line-height: 63px;
                    letter-spacing: 0.2px;
                    color: #FFFFFF;
                    margin: 0px 10px;
                }
                .block {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 78px;
                    height: 51px;
                    margin: 0px 0px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: #FFFFFF;
                    margin: 0px 10px;
                }
                h6 {
                    width: 100%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 0.1px;
                    color: #FFFFFF;
                    margin: 0px 10px;
                }
            }
            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 255px;
                height: 240px;
                margin: 0px 0px 30px 0px;
                list-style-type: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 48px;
                letter-spacing: 0.2px;
                color: $second-color;
                margin: 0px 10px;
            }
        }
        &__white_2 {
            width: 100%;
            height: 607px;
            bottom: 0px;
            margin: 0px 13.5px 18px 13.5px;
            &_text_2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 148px;
                height: 80px;
                margin: 40px 93.5px 30px 93.5px;
                h3 {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: $second-color;
                    margin: 0px 10px;
                }
                h6 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: #374754;
                    margin: 0px 0px; 
                }
            } 
            &_price_2 {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                width: 198px;
                height: 61px;
                margin: 0px 68.5px 0px 68.5px;
                .title {
                    width: 120px;
                    height: 104px;
                }
                h1 {
                    width: 100%;
                    padding: 0px 10px;
                    font-weight: 900;
                    font-size: 74px;
                    line-height: 63px;
                    letter-spacing: 0.2px;
                    color: $second-color;
                    margin: 0px 10px;
                }
                .block {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 78px;
                    height: 51px;
                    margin: 0px 0px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: $second-color;
                    margin: 0px 10px;
                }
                h6 {
                    width: 100%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 0.1px;
                    color: $third-color;
                    margin: 0px 10px;
                }
            }
            &_list_2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 255px;
                height: 240px;
                margin: 30px 0px 30px 0px;
                list-style-type: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 48px;
                letter-spacing: 0.2px;
                color: $second-color;
                margin: 0px 10px;    
            }
        }
    }
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 1568.99px;
        margin-bottom: 0px;
        padding: 99px 0px 0px 0px;
        margin: 0 auto;
        bottom: 0;
        &__content{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 358px;
            height: 1369.99px;
            margin: 0px 30px;
            padding: 50px 0px;
            &__text {
                width: 285px;
                height: 182px;
                padding: 10px;
                padding: 0;
                margin: 0 auto;
                margin-bottom: 50px;
                h2{
                    margin-bottom: 17px;
                }                
                h4 {
                    margin: 10px;
                }
                span{
                    display: none;
                }
            }
            &__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 358px;
                height: 100%;
                margin: 0 auto;
                &_left {
                    width: 378px;
                    height: 669px;
                    margin: 0 auto;
                    margin-bottom: 0;
                    order: 2;
                    h3 {
                        margin: 0 auto;
                    }
                    .form {
                        padding: 52px 49px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        width: 378px;
                        height: 669px;
                        order: 4;
                        input {
                            width: 280px;
                            height: 54px;
                        }
                    }
                }
                &_right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 349px;
                    height: 100%;
                    margin-left: 0px;
                    margin-bottom: 0px;
                    &_items {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        width: 349px;
                        height: 208px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        order: 2;
                        .adress {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                                text-align: start;

                            }
                        }
                        .phone {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                            }
                        }
                        .mail {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            h6 {
                                margin-left: 20px;
                            }
                        }
                    }
                    &_map {
                        display: none;
                    }
                    &_social {
                        width: 190.96px;
                        height: 60.99px;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        order: 1;
                    }
                }
            }
        }
    }  
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        min-height: 1430.99px;
        top: 0;
        padding: 0px;
        margin: 0 auto;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 284px;
            height: 1216.99px;
            margin: 0 auto;
            padding-top: 67px;
        }
        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 186px;
            height: 267px;
            margin: 0 auto;
            margin-bottom: 73px;
            &_pages {
                width: 186px;
                height: 267px;
                margin: 0 auto;
                margin-bottom: 73px;
            }
            &_link {
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #FFFFFF;            
                text-decoration: none;   
            }
            
            &_tomothy {
                width: 186px;
                height: 267px;
                margin: 0 auto;
                margin-bottom: 73px;
            }
            
            &_jane {
                width: 186px;
                height: 267px;
                margin: 0 auto;
                margin-bottom: 76px;
            }
        }
        &__contacts {
            justify-content: flex-start;
            width: 284px;
            height: 193.99px;
            margin: 0px 67px 107px 67px;
        }
        &__social {
            margin: 0 auto;
        }
    }      
}