@media (max-width: 576px){
    body{
        overflow-x: hidden;
    }
    .container {
        width: 100%;       
        // padding: 0px 10px;
        margin: 0 auto;
    }
    .promo {
        position: relative;
        height: 100vh;
        margin: 0 auto;        
        background: url('./assets/img/bg_mobile.jpg') center center/cover no-repeat;
        padding-bottom: 200px;
        header {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 418px;
            height: 112px;
            top: 1px;
            margin: 0;
            nav {
                position: relative;
                display: block;
                width: 50%;
                height: 100vh;
                margin: 0;
            }      
            ul { 
                position: fixed;   
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                right: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
		        background-color: rgba(0,0,0, .8);
		        transition: 0.6s all;
                &_active{ 
			        left: 0;
                }       
                li { 
                    line-height: 28px;                          
                }
            }
            .hamburger {
                position: absolute;
                display: block;
                width: 40px;
                height: 32px;
                top: 40px;
                right: 16px;
                bottom: 40px;
                left: 240px;
                margin: 0;
                padding: 8px 6px 8px 6.67px;
                cursor: pointer;
                border: 1px solid #000000;
                box-sizing: border-box;
                &__span {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 26.67px;
                    height: 16px;
                    transition: 0.5s all; 
                }               
                span.long {
                    background-color: #FFFFFF;
                    width: 26.67px;
                    height: 2px;
                    margin-bottom: 4px;
                }
                span.middle{
                    background-color: #FFFFFF;
                    width: 20.67px;
                    height: 2px;
                    margin-bottom: 4px;
                }
                span.short{
                    background-color: #FFFFFF;
                    width: 16.67px;
                    height: 2px;
                }
                &_active { 
                    .hamburger__span{ 
                        margin-bottom: -2px; 
                        &:nth-child(1){
                            transform: translateY(3px) rotate(-45deg);
                        }
                         &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            width: 26.67px;
                            transform: translateY(3px) rotate(45deg);
                        }
                    }
                }
            } 
            .header__logo {
                position: absolute;
                display: block;
                width: 98px;
                height: 58px;
                top: 16px;
                left: 27px;
                margin: 0;
            }
            .header__social {
                display: none;
            }  
        }
        .content {
            max-width: 100%;
            height: 100vh;
            padding: 0;
            margin: 30px 0px 0px 0px;
            &__text {
                width: 200px;
                height: 250px;
                margin: 0;
                padding: 50px;
                h1{
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 40px;
                }
                h4 {
                    margin: 7px 14px 0px 14px;
                    font-size: 20px;
                    line-height: 30px;
                    span {
                        display: none;
                    }
                }
            }
        }
        .button_promo{
            position: absolute;
            display: block;
            width: 136px;
            height: 40px;
            right: 91px;
            bottom: 167px;
            left: 91px;
            margin: 0 auto;
            padding: 0;        
        } 
    }
    .features {   
        width: 100%;
        height: 1596.12px;
        min-width: 100%;
        max-height: 1362.3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 552px;
            height: 182px;
            margin: 0px 612.5px 80px 612.5px;
            h2 {
                padding-bottom: 7px;
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                text-align: center;
                letter-spacing: 0.2px;  
                color: $second-color;
            }
            h4 {
                margin: 10px;
                font-weight: normal;
                font-size: 28px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.2px;
                color: $third-color; 
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: space-between;
        justify-content: center;     
        width: 869px;
        height: 257px;
        margin: 0px 454px 80px 454px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 257px;
        margin-right: 52px;
    }
    &__subtitle {
        margin-top: 10px;        
        font-weight: 900;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.1px;
        color: $second-color;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $third-color;
    }
    &__video {
            position: relative;            
        .full{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;         
            width: 1058.19px;
            height: 762.3px;
            margin: 80px 359.4px 0px 359.4px;
            padding: 52px 0px;               
            poster {
                position: relative;
                width: 1177.34px;
                height: 658.3px;
                border-radius: 40px;
                filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.397));
                border-radius: 44.8123px;
            }
            button.play {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 187.4px;
                height: 187.4px;
                margin: 235.3px 494.65px 235.6px 495.3px;        
                border-radius: 100%;
                background-color: $main-color;
                cursor: pointer;
                &:hover {
                    background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
                    }
                img {
                    position: absolute;
                    width: 46.85px;
                    height: 46.85px;
                }
            } 
        }
        .mobile{
            display: none;
        }
    }
    footer {
        width: 100%;
    }
}